.normal-body {
    background-color: #EBE1E3;
    font-family: 'Arsenal', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bad7f2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #36558f; 
}

.headline-styling {
    color: #36558f;
}

.paragraph-styling {
    font-family: 'Catamaran', sans-serif;
}

.quote-card {
    color: #36558f;
    font-size: .9rem;
}

.single-draft {
    margin-top: 3rem;
    border-top: 1px solid #bad7f2;
    margin-bottom: 1rem;
}

.checkbox-button-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checked-text {
    font-size: .8rem;
}

.compose-header{
    margin-left: 1rem;
}

.form-control {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .05em;
    color: black;
    font-size: larger;
    width: 100%;
    height: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom: 1rem;
  }

.custom-green-button {
    color:#EBE1E3;
    background-color: #36558f;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px; 
    box-shadow: 0 3px #999;
}

.custom-green-button:active{
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.fieldset-post-form {
    border: none;
}

.title-input {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .05em;
    color: black;
    font-size: large;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 5px;
    margin-bottom: 1rem;
    width: 60%;
}

.create-post-form {
    width: 80%;
    padding: 1rem;
}
.create-post-column{
    width: 60%;
    padding: 1rem;
}

.published-drafts-list {
    height: 500px;
    width: 400px;
    overflow: scroll;
}

.published-feed-column {
    width: 40%;
    padding: 1rem;
}

.button-div {
    display: flex;
    margin-left: 10rem;
    justify-content: space-around;
}

.edit-button {
    color: #6558F5;
    /* background-color: #6558F5; */
    border: 1px solid #6558F5;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 0 3px #999;

}

.edit-button:active{
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.delete-sure {
    color: #36558f;
    margin-top: 3rem;
    margin-left: 3rem;
}

.delete-button {
    color:#FF101F;
    background-color: none;
    border: 1px solid #FF101F;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 0 3px #999;

}
.delete-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.delete-takeback-span {
    display: flex;
    width: 50%;
    justify-content:space-between;
    margin-left: 3rem;
}

.take-back {
    color:#6558F5;
    font-size: larger;
}