.normal-view-navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0D681A;
    background-color: #CABAC8;
    padding-left: 3rem;
    font-family: 'Arsenal', sans-serif;
}

.nav-logo {
    color: #0D681A;
    font-family: 'Arsenal', sans-serif;
}

.logout {
    color:#EBE1E3;
    background-color: #0D681A;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px; 
    margin-right: 3rem;
    margin-top: 1.5rem;
}

/* font-family: 'Architects Daughter', cursive;
font-family: 'Arsenal', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Comic Neue', cursive;
font-family: 'Dokdo', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Signika Negative', sans-serif; */
